<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<header class="active-user">Active user: {{ user }}</header>
<body>
<li><a href="{% url 'homepage'%}">Home page</a>
</li>
{% if user.is_authenticated %}
            <li><a href="{% url "profile" %}">{{ user.username }}</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
            <li><a href="{% url "login" %}">Login</a></li>
            <li><a href="{% url "register" %}">Register</a></li>
        {% endif %}
<h2 style="color: blue">Слава Україні! Підтримай ЗСУ!</h2>
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAACFCAMAAAApQEceAAAACVBMVEUAm///zQB/tICkQksAAAAAbklEQVR4nO3PAQ0AIAzAsIN/0bggy9M66AwAAAAAAAAAAAAAAADw0V1izhIiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1ayIPTrs1IcVviyIAAAAASUVORK5CYII=">
<div class="conteiner">
    {% block container %}{% endblock %}
</div>
</body>
</html>